body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #212121;
    color: #bdbdbd;
    padding-top: 4em;
}

.header_container{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272727;
    padding: 0 20px ;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.nav_routes{
    display: flex;
    align-items: center;
    gap: 0px;
}

.auth_routes{
    display: flex;
    gap: 40px;
}

.routes_list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_bar a{
    text-decoration: none;
    color: #fff;
}

.auth_routes > li > a:hover{
    text-decoration: underline;
}


.nav_bar a:hover{
    color: #16a931;
}

.nav_bar ul{
    list-style: none;
}

#logo{
    font-size: 1.2rem;
    font-weight: 600;
}

#logo:hover a{
    color: #ffffff;
    text-decoration: none;
}

.error{
    color: red;
    font-size: 0.8rem;
}

.budj , .budj a{
    color: #32bf19;
    font-weight: 600;
}

.budj:hover , .budj:hover a{
    color: #fffb00;
    cursor: pointer;
}

.get_started{
    background-color: #272727;
    padding: 4em;
    text-align: center;
    margin-top: 10em;
}

.h-header{
    margin-top: 0;
    font-size: 3.5rem;
}

.app-name{
    color: #16a931a5;
}

.app-name:hover{
    color: #16a931;
}

#gt_st_btn{
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.147);
    background-color: #16a931;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 1em;
}

#gt_st_btn:hover{
    background-color: #2b5d9e;
    cursor: pointer;
}

#wlc_message{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1em;
}