<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel='stylesheet' href='../static/home.css'>
    <link rel='stylesheet' href='../static/market.css'>
</head>
<body>
    <header class="header_container">
        <nav class="nav_bar">
            <div class="nav_routes">
                <p id="logo"><a href={{ url_for('home_page') }}>UNIQUE</a></p>
                <ul class="routes_list">
                    <li><a href={{ url_for('market_page') }}>Market</a></li>
                </ul>
            </div>
            <ul class="auth_routes">
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>
        </nav>
    </header>
    
    {% block content %}

    {% endblock %}
</body>
</html>