<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel='stylesheet' href='../static/home.css'>
    <link rel='stylesheet' href='../static/market.css'>
    <link rel='stylesheet' href='../static/form.css'>
    {% block head %}

    {% endblock %}
    <script src="https://kit.fontawesome.com/5fb0cda24d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header_container">
        <nav class="nav_bar">
            <div class="nav_routes">
                <p id="logo"><a href={{ url_for('home_page') }}>UNIQUE</a></p>
                <ul class="routes_list">
                    {% if current_user.is_authenticated %}
                        <li><a href={{ url_for('market_page') }}>Market</a></li>
                        <li><a href={{ url_for('sell_page') }}>Sell</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if current_user.is_authenticated %}
                <ul class="auth_routes">
                    {% if current_user.role == 'customer' %}
                        <li>
                            <span class="budj">
                                <i class="fa-solid fa-coins"></i>
                                <a href={{ url_for('recharge_page') }}>{{ current_user.budget }}$</a>
                            </span>
                        </li>
                    {% endif %}
                    <li><span>Welcome, <a id="username" href={{ url_for('user_info' , user_id = current_user.id) }}>{{ current_user.username }}</a></span></li>
                    <li><a id="logout_a" href={{ url_for('logout_page') }}>Log out</a></li>
                </ul>
            {% else %}
                <ul class="auth_routes">
                    <li><a href={{ url_for('login_page') }}>Login</a></li>
                    <li><a href={{ url_for('register_page') }}>Register</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>
    
    {% block content %}

    {% endblock %}
</body>
</html>