{% extends 'base.html' %}

{% block title %}
    Market | Page
{% endblock %}

{% block content %}
    <!-- added the script here because it needs to be loaded after the navbar only not the whole page -->
    <script src="../static/market.js"></script>
    <h1 class="store_items"><span class="app_name">UNIQUE</span> Items</h1>

    <main>
        <div class="cards">
            {% for item in items %}
                <div class="card">
                    <div class="image_container"><img src="../static/resources/{{item.image}}" alt="item_image"></div>
                    <p class="item_name">{{ item.name }}</p>
                    <p><a href="#">details...</a></p>
                    <div class="crad_control">
                        <span class="item_price">{{ item.price }}$</span>
                        {% if role == 'admin' %}
                            <button class="delete">Delete</button>
                        {% else %}
                            <button class="buy">Buy</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if role == 'customer' %}
            <div class="inventory">
                <h3>My Items</h3>
            </div>
            {% else %}
                <div class="inventory">
                    <h3>pending items</h3>
                </div>
        {% endif %}
    </main>
{% endblock %}