{% extends 'base.html' %}

{% block title %}
    Market | Page
{% endblock %}

{% block content %}
    <!-- added the script here because it needs to be loaded after the navbar only not the whole page -->
    <script src="../static/market.js"></script>
    <h1 class="store_items"><span class="app_name">UNIQUE</span> Items</h1>

    <main>
        <div class="cards">
            {% for item in items %}
                <div class="card">
                    <div class="image_container">
                        <img src="../static/resources/{{item.image}}" alt="item_image">
                    </div>
                    <p class="item_name">{{ item.name }}</p>
                    <p><a href={{ url_for('item_page' , barcode=item.barcode) }}>details...</a></p>
                    <div class="crad_control">
                        <span class="item_price">{{ item.price }}$</span>
                        {% if role == 'admin' %}
                            <button class="delete" onclick="document.getElementById('{{ item.barcode }}').click();">
                                <a id={{ item.barcode }} href={{ url_for('delete_item' , barcode=item.barcode) }}>Delete</a>
                            </button>
                        {% else %}
                            <button class="buy" onclick="document.getElementById('{{ item.barcode }}').click();">
                                <a id={{ item.barcode }} href={{ url_for('item_sold' , barcode=item.barcode) }}>Buy</a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if role == 'customer' %}
            <div class="inventory">
                <h3>My Items</h3>
                {% for i in user_items %}
                    <div class="pending-item">
                        <p><img src="../static/resources/{{i.image}}"></p>
                        <p class="text-limited">{{ i.name }}</p>
                        <p class="text-limited">{{ i.price }}$</p>
                        <button class="show-btn-container" onclick="document.getElementById('{{ i.barcode }}').click();">
                            <a id={{ i.barcode }} class="show-btn-a" href={{ url_for('item_bought' , barcode=i.barcode) }}>Sell</a>
                        </button>
                        <button class="show-btn-container" onclick="document.getElementById('{{ i.name }}').click();">
                            <a id={{ i.name }} class="show-btn-a" href={{ url_for('edit_item' , barcode=i.barcode) }}>Edit</a>
                        </button>
                    </div>
                    <!-- <button onclick="document.getElementById('{{ i.barcode }}').click();">
                        <a id={{ i.barcode }} class="show-btn-a" href={{ url_for('item_page' , barcode=i.barcode) }}>Show</a>
                    </button> -->
                {% endfor %}
            </div>
            {% else %}
                <div class="inventory">
                    <h3>pending items</h3>
                    {% for pen in pendings %}
                        <div class="pending-item">
                            <p><img src="../static/userresources/{{pen.image}}"></p>
                            <p class="text-limited">{{ pen.name }}</p>
                            <button class="show-btn-container" onclick="document.getElementById('{{ pen.barcode }}').click();">
                                <a id={{ pen.barcode }} class="show-btn-a" href={{ url_for('customer_item_page' , barcode=pen.barcode) }}>Show</a>
                            </button>
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
    </main>

    <section>
        <h1 class="fan_section_h"><span class="app_name">Fans</span> Items</h1>

        <div class="fans_cards">
            {% for item in approved_items %}
                <div class="card">
                    <div class="image_container">
                        <img src="../static/resources/{{item.image}}" alt="item_image">
                    </div>
                    <p class="item_name">{{ item.name }}</p>
                    <p><a href={{ url_for('item_page' , barcode=item.barcode) }}>details...</a></p>
                    <div class="crad_control">
                        <span class="item_price">{{ item.price }}$</span>
                        {% if role == 'admin' %}
                            <button class="delete" onclick="document.getElementById('{{ item.barcode }}').click();">
                                <a id={{ item.barcode }} href={{ url_for('delete_pendding' , barcode=item.barcode) }}>Delete</a>
                            </button>
                        {% else %}
                            <button class="buy" onclick="document.getElementById('{{ item.barcode }}').click();">
                                <a id={{ item.barcode }} href={{ url_for('user_info' , user_id=item.user_id) }}>Contact</a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}