{% extends 'base.html' %}

{% block title %}
    Sell | Page
{% endblock %}


{% block content %}
    <div class="form_container">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            
            {{ form.username( class="form-control" , placeholder = "Enter User Name") }}
            {{ form.password1( class="form-control" , placeholder = "Enter Password") }}
            {{ form.password2( class="form-control" , placeholder = "Confirm Password") }}
            {{ form.email_address( class="form-control" , placeholder = "Enter Email") }}
            <br>
            <br>
            {{ form.submit( class="rgs-btn" ) }}
        </form>
        <div class="warning">
            {% for message in errors %}
                <p class="error">* {{ message }}</p>
            {% endfor %}
        </div>
        <p>Already have an account? <a class="anc_log" href="{{ url_for('login_page') }}">Login!</a></p>
    </div>
{% endblock %}