{% extends 'base.html' %}

{% block title %}
    UNIQUE | User
{% endblock %}
{% block head %}

    <style>
        .warning{
            text-align: center;
            color: rosybrown;
        }
        .warning p{
            color: red;
        }
        .user_image{
            border-radius: 50%;

        }
        .profile_container{
            text-align: center;
            margin-top: 2em;
        }
    </style>
{% endblock %}

{% block content %}
<div class="profile_container">
    <div class="warning message">
        {% if warning1 %}
            <h1>{{ warning1 }}</h1>
        {% endif %}
        {% if warning2 %}
            <p>{{ warning2 }}</p>
        {% endif %}
        {% if warning3 %}
            <p>{{ warning3 }}</p>
        {% endif %}
    </div>
    {% if user %}
        <img src="../static/avtar.jpg" alt="user image" class="user_image">
        <h2 class="user_data" >Username : {{user.username}}</h2>
        <h2 class="user_data" >Email : {{user.email_address}}</h2>
        <h2 class="user_data" >Phone : {{user.phone}}</h2>
    {% endif %}
</div>
{% endblock %}